.header{
    display: flex;
    background-color: green;
    padding: 30px;
    align-items: center;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo{
    width: 100%;
    display: flex;
}
.imgHeader{
    width: 45px;
    height: 45px;
}
.itemMenu{ 
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 7px;
    a{
        color: white;
    }
}