<mat-card class="example-card mat-elevation-z4" *ngFor="let item of items">
    <img mat-card-image src="{{item.image}}">
    <mat-card-content>
        <mat-card-title>{{item.producer}}</mat-card-title>
        <p><mat-icon>person</mat-icon>{{item.location}}</p>
    </mat-card-content>
    <div class="card__info">
        <div mat-card-avatar class="example-header-image"></div>
        <div>
            <p>{{item.producer}}</p>
            <p>{{item.phone}}</p>
        </div>
    </div>
    <mat-card-actions>
      <button mat-button><mat-icon>star</mat-icon></button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
  