<mat-card class="example-card mat-elevation-z4" *ngFor="let producer of producers">
    <img mat-card-image src="{{producer.image}}">
    <mat-card-content>
        <mat-card-title>{{producer.name}}</mat-card-title>
        <p><mat-icon>person</mat-icon>{{producer.location}}</p>
    </mat-card-content>
    <div class="card__info">
        <div mat-card-avatar class="example-header-image"></div>
        <div>
            <p>{{producer.producer}}</p>
            <p>{{producer.phone}}</p>
        </div>
    </div>
    <mat-card-actions>
      <button mat-button><mat-icon>star</mat-icon></button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
  